<div class="container">
<h1>Edit User</h1>


<%= form_for @user do |f| %>
 

 <div >
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div >
    <%= f.label :joiningDate %><br />
    <%= f.date_field :joiningDate %>
  </div>
  
  
  <div >
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div >
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  
  <div >
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div >
    <%= f.label :team %>
    <%= f.collection_select(:team_id, Team.all, :id, :teamName, { :prompt => 'Team'}) %>
  </div>
  
  <div >
      <%= f.label :role %>
      <%= f.collection_select(:role_id, Role.all, :id, :roleName, { :prompt => 'Role'}) %>
  </div>
  
  <div >
      <%= f.submit "Update" %>

</div>
<% end %>  
  
</div>

