<div class="container my-auto">
<table class="table table-borderless">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Joined Date</th>
		<th>Team</th>
		<th>Role</th>
		<th>Edit/Delete</th>
	</tr>
<% @users.each do |user| %>
	<% unless user.is_admin %>
	<tr>
		<th><%=user.name%></th>
		<th><%=user.email%></th>
		<th><%=user.joiningDate.strftime("%Y-%m-%d")%></th>
		<td><%=user.team.teamLeader %></td>
		<td><%=user.role.roleName %></td>
		<td><%= link_to "Edit", edit_admin_path(user.id), {class:"Edit"}%></td>
		<td><%= button_to "Delete", admin_path(user.id), method: :delete, {class:"button"} %></td>
		<td></td>
	</tr>
	<%end%>
<%end%>

</table>

</div>
<%= link_to "Add Employee", new_admin_path %>