<div class="container ", style = "margin-top: 60px;">
	<% if @leavehist.count == 0 %>
		<h2>No Leave histories</h2>
	<% else %>
		<table class="table table-borderless ">
		  <tr class="thead-dark">
		    <th >Leave Type</th>
		    <th>Leave Reason</th>
		    <th>Applied on</th>
		    <th>No of Days</th>
		    <!-- If the user is admin -->
		    <% if !@user.is_tl? %> 
		   		<th>TL Status</th>
		    <%end %>
		    <th>HR Status</th>
		  </tr>
		<% @leavehist.each do |hist| %>
		  <tr>
		    <td><%= hist.leaveType %></td>
		    <td><%= hist.leaveReason %></td>
		    <td><%= hist.created_at.strftime("%d-%m-%Y") %></td>
		    <td><%= hist.noofDays %></td>
		    <% if !@user.is_tl? %>
		    	<td> <i style= "background-color: 
		    			<%=if hist.tlStatus == "rejected" 	
		    						"var(--red-3)"	
		    				  elsif hist.tlStatus == "approved"  
		    						"var(--green-3)"
				   		      end %>"> 
		    			<%= hist.tlStatus %>
		    		 </i>
		    	</td>
		    <% end %>
		    <td>
		    	<i style= "background-color: 
		    		<%=if hist.hrStatus == "rejected" 	
		    				"var(--red-3)"	
		    			elsif hist.hrStatus == "approved"  
		    				"var(--green-3)"
		    			end %>"><%= hist.hrStatus %></i>
			</td>
		  </tr>
		<%end%>
	<%end%>
 </div>
</table>