<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h3 class="h3-title">Dayspring</h3></a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav for-float ">
        <li class="nav-item">
          <%= link_to "Dashboard", users_path, {class:"anchor-item"} %>
        </li>      
        <li class="nav-item">
          
          <%= link_to 'Logout', logout_path, {class:"anchor-item anchor-item-logout"}%>
        
        </li>
      </ul>
    </div>
</nav>  

<div class="container">
<h1>Edit User</h1>


<%= form_for @user do |f| %>
 
<div class="from-row">
      <div class="form-group col-md-5">
          <%= f.label :name %>
          <%= f.text_field :name ,{class: "form-control"}%>
      </div>
      <div  class="form-group col-md-5">
          <%= f.label :email %>
          <%= f.text_field :email,{class: "form-control"} %>
      </div>
  </div>
  
  <div class="form-row">
      <div class="form-group col-md-5">
          <%= f.label :password %>
          <%= f.password_field :password ,{class: "form-control"}%>
      </div>
      <div class="form-group col-md-5">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation ,{class: "form-control"}%>
      </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-5">
          <%= f.label :team %>
          <%= f.collection_select(:team_id, Team.all, :id, :teamName, { :prompt => 'Team', class: "form-control"}) %>
      </div>
      <div class="form-group col-md-5">
          <%= f.label :role %>
          <%= f.grouped_collection_select(:role_id, Team.order(:name), :roles, :teamName, :id, :roleName,{ :prompt => 'Role', class: "form-control"}) %>
      </div>
  </div>

    
    <div class="form-row">
        <div class=" form-group col-md-5 ">
            <%= f.label :joiningDate %>
            <%= f.date_field :joiningDate %>
        </div>
      
    </div>
    
    <div class="from-row user-row">
      <div class="form-group col-md-5">
          <%= f.submit "Update Employee", {class:"btn btn-primary"} %>
      </div>
    </div>
</div>

<% end %>


<script>
   jQuery(function() {
   
   var roles = $('#user_role_id').html();
   return $('#user_team_id').change(filter_by_team);

    function filter_by_team() {
       var team = $('#user_team_id :selected').text();
       var options = $(roles).filter("optgroup[label='" + team + "']").html();
       if (options) {
         return $('#user_role_id').html(options);
       } else {
         return $('#user_role_id').empty();
       }
    }
  });

</script>