
<h4>USER : <strong> <%= @user.email %> </strong></h4>


<div class="container my-auto">
<table class="table table-borderless thead-dark">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Joined Date</th>
		<th>Team</th>
		<th>Role</th>
		<th></th>
	</tr>
<% @users.each do |user| %>
	<% unless user.post %>
	<tr>
		<td><%= link_to user.name,user_path(user.id) %></td>
		<td><%=user.email%></td>
		<td><%=user.joiningDate.strftime("%Y-%m-%d")%></td>
		<td><%=user.team.teamName %></td>
		<td><%=user.role.roleName %></td>
		<td><%= link_to "Edit", edit_user_path(user.id)%></td>
		<td><%= button_to "Delete", user_path(user.id), method: :delete%></td>
	</tr>
	<%end%>
<%end%>

</table>

</div>

<%= link_to 'logout', logout_path, {class:"btn btn-danger"}%>
<%= link_to 'Add new User', new_user_path, {class:"btn btn-primary"}%>




