
<div class="container">
<h1>Add New User</h1>



<%= form_for @user do |f| %>
 <div class="from-row">
      <div class="form-group col-md-5">
          <%= f.label :name %>
          <%= f.text_field :name ,{class: "form-control"}%>
      </div>
      <div  class="form-group col-md-5">
          <%= f.label :email %>
          <%= f.text_field :email,{class: "form-control"} %>
      </div>
  </div>
  
  <div class="form-row">
      <div class="form-group col-md-5">
          <%= f.label :password %>
          <%= f.password_field :password ,{class: "form-control"}%>
      </div>
      <div class="form-group col-md-5">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation ,{class: "form-control"}%>
      </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-5">
          <%= f.label :team %>
          <%= f.collection_select(:team_id, Team.all, :id, :teamName, { :prompt => 'Team', class: "form-control"}) %>
      </div>
      <div class="form-group col-md-5">
          <%= f.label :role %>
          <%= f.collection_select(:role_id, Role.all, :id, :roleName, { :prompt => 'Role', class: "form-control"}) %>
      </div>
  </div>

    
    <div class="form-row">
        <div class=" form-group col-md-5 ">
            <%= f.label :joiningDate %>
            <%= f.date_field :joiningDate %>
        </div>
        <div class=" form-group col-md-5 ">
            <%= f.label :Team_Lead %>
            <%= f.check_box :is_tl, {}, "true", "false"  %>
        </div>
    </div>
    
    <div class="from-row user-row">
      <div class="form-group col-md-5">
          <%= f.submit "Create Employee" %>
      </div>
    </div>
</div>

<% end %>


<div class="form-group col-md-5">
<%= link_to "Back to home", users_path, {class: "btn btn-primary"} %>
</div>




















































































<!-- <h1>Sign Up</h1>

<%#= form_for @user do |f| %>

  <div >
    <%#= f.label :email %>
    <%#= f.text_field :email %>
  </div>

  <div >
    <%#= f.label :password %>
    <%#= f.password_field :password %>
  </div>

  <div >
    <%#= f.label :password_confirmation %>
    <%#= f.password_field :password_confirmation %>
  </div>

  <div ><%#= f.submit "Sign Up" %>

  <%#= link_to "login", new_session_path %>
</div>
<#% end %> -->
