
<h2>USER : <strong><%= @user.email %></strong>  </h2>

<span> Alloted  Leave : <%= @available_leave %></span>   |  
<span> Available Leave : <%= @available_leave - @leavehist.count %></span>  |  
<span>Applied Leave : <%= @leavehist.count %>  </span>

<div class="container">
	<% if @leavehist.count == 0 %>
		<h2>No Leave histories</h2>
	<% else %>
		<table class="table table-borderless mt-5">
		  <tr class="table-primary">
		    <th>Leave Type</th>
		    <th>Leave Reason</th>
		    <th>Applied on</th>
		    <th>No of Days</th>
		    <th>Hr Status</th>
		  </tr>
		<% @leavehist.each do |hist| %>
		  <tr>
		    <td><%= hist.leaveType %></td>
		    <td><%= hist.leaveReason %></td>
		    <td><%= hist.created_at.strftime("%d-%m-%Y") %></td>
		    <td><%= hist.noofDays %></td>
		    <td><%= hist.hrStatus %></td>
		  </tr>
		<%end%>
	<%end%>
 </div>

<%= link_to 'logout', logout_path, {class:"btn btn-danger"}%>
<%= link_to 'new_leave', leave_new_path(user_id: @user.id), {class:"btn btn-primary m-2"} %>
<%= link_to 'Profile', user_profile_user_path( @user.id), {class:"btn btn-primary m-2"} %>
<% if @user.post == true %>
	<%= link_to 'Back', users_path %>
<%end%>


