
<h2>USER : <strong><%= @user.email %></strong>  </h2>

<div class="container">
	<% if @leavehist.count == 0 %>
		<h2>No Leave histories</h2>
	<% else %>
		<table class="table table-borderless mt-5">
		  <tr class="table-primary">
		    <th>Leave Type</th>
		    <th>Leave Reason</th>
		    <th>Start Date</th>
		    <th>End Date</th>
		    <th>No of Days</th>
		    <th>Tl Status</th>
		    <th>Hr Status</th>
		  </tr>
		<% @leavehist.each do |hist| %>
		  <tr>
		    <td><%= hist.leaveType %></td>
		    <td><%= hist.leaveReason %></td>
		    <td><%= hist.startDate.strftime("%Y-%m-%d") %></td>
		    <td><%= hist.endDate.strftime("%Y-%m-%d")%></td>
		    <td><%= hist.noofDays %></td>
		    <td><%= hist.tlStatus %></td>
		    <td><%= hist.hrStatus %></td>
		  </tr>
		<%end%>
	<%end%>
 </div>

<%= link_to 'logout', logout_path, {class:"btn btn-danger"}%>
<%= link_to 'new_leave', leave_new_path(user_id: @user.id), {class:"btn btn-primary m-2"} %>
<% if @user.post == true %>
	<%= link_to 'Back', users_path %>
<%end%>


