

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h3 class="h3-title">Dayspring</h3></a>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav for-float ">
	     	<li class="nav-item">
	     		<% unless User.find(@user_session.id).is_admin? %>
	     			<%= link_to 'New_leave', leave_new_path(user_id: @user.id), {class:"anchor-item"} %>
	     		<%end%>
	     	</li>
	      	<li class="nav-item">
	        	<%= link_to 'Profile', user_profile_user_path( @user.id), {class:"anchor-item"} %>
	      	</li>
	     	<li class="nav-item">
	     		<% if !@user.is_tl %>
					<%= link_to 'Logout', logout_path, {class:"anchor-item anchor-item-logout"}%>
				<%end%>
	     	</li>
    	</ul>
    </div>
</nav>	


<h3 style="margin-left: 73px;margin-top: 46px;">Logged In as : <strong><%= @user.email %></strong>  </h3>



<div class="outer">
<div class="container" style = "display: flex;justify-content: space-around;">
	<span>Alloted  Leave : <%= @available_leave %></span>     
	<span>Available Leave : <%= @available_leave - @leavehist.count %></span>    
	<span>Applied Leave : <%= @leavehist.count %>  </span> 
	<span><%= link_to "Approved Leaves ", user_path(leave_type: :approved) %></span>  
	<span><%= link_to "Rejected Leaves ", user_path(leave_type: :rejected) %></span>  
	<span><%= link_to "Pending Leaves ", user_path(leave_type: :pending) %></span> 
	<span><%= link_to "All Leaves ", user_path(leave_type: :all) %></span> 
</div>

<%= render "leave_hist" %>

<div class="anchor-tag">
		<% if @user.is_tl && !@user_session.is_admin%>
			<%= link_to 'Back',  tl_index_path , {class:"btn btn-primary"} %>
		<%elsif @user_session.is_admin %>
			<%= link_to 'Back',  users_path, {class:"btn btn-primary"} %>
		<%end%>
</div>

</div>





