
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h3 class="h3-title">Dayspring</h3></a>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav for-float ">
	     	<li class="nav-item">
	     		<%= link_to "Approve/Reject Leave", tl_leave_request_path, {class:"anchor-item"} %>
	     		<% if @total_leavereq_count != 0  %>
		     		<b class="count"><%= @total_leavereq_count%></b>
		     	<%end%>
	     	</li>
	     	<li class="nav-item">
	     		<%= link_to 'My Leave', user_path(session[:user_id]),  {class:"anchor-item"} %>
	     	</li>
	     	<li class="nav-item">
	     		<% if @user.is_tl %>
					<%= link_to 'logout', logout_path, {class:"anchor-item anchor-item-logout"}%>
				<%end%>
	     	</li>
    	</ul>
    </div>
</nav>	


<h4>USER : <strong> <%= @user.email %> </strong></h4>
<h3><%= @team_name %> Team</h3>

<div class="container my-auto">
<table class="table table-borderless thead-dark">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Joined Date</th>
		<th>Team</th>
		<th>Role</th>
	</tr>
<% @user_all.each do |user| %>
	<% if user.is_tl == false && user.is_admin == false %>
	<tr>
		<td><%=user.name%></td>
		<td><%=user.email%></td>
		<td><%=user.joiningDate.strftime("%Y-%m-%d")%></td>
		<td><%=user.team.teamName %></td>
		<td><%=user.role.roleName %></td>
	</tr>
	<%end%>
<%end%>

</table>

</div>
