

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h3 class="h3-title">Dayspring</h3></a>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav for-float ">
	     	<li class="nav-item">
	     		<%= link_to 'Home', user_path(params[:user_id]), {class:"anchor-item"}%>
	     	</li>
	       
	       	<li class="nav-item">
				<%= link_to 'logout', logout_path, {class:"anchor-item anchor-item-logout"}%>
	     	</li>
    	</ul>
    </div>
</nav>	

<div class="container ">
<h1>New leave </h1>



<%= form_for @leave, {url: leave_new_path(user_id: params[:user_id]), method: :post} do |f| %>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :leaveType %> 
				<%= f.text_field :leaveType, {class: "form-control"} %>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :leaveReason %>
				<%= f.text_field :leaveReason, {class: "form-control"} %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :startDate %>
				<%= f.date_field :startDate, {class: "form-control"} %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :endDate %>
				<%= f.date_field :endDate, {class: "form-control"} %>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :Noofdays %>
		<%= f.number_field :noofDays, {class: "form-control"} %>
	</div>
		<%= f.submit "Create leave", class: "btn btn-primary",  data: { turbo: false } %>
	<% end %>		

</div>

<%#= link_to 'back', user_path(params[:user_id]), {class:"btn btn-primary m-2"} %>






<script>
	// Auto update total no of days
	function total_days(){
	var start_date = document.getElementById("leave_hist_startDate").value;
	var end_date = document.getElementById("leave_hist_endDate").value;
	document.getElementById("leave_hist_noofDays").value = Math.floor((Date.parse(end_date) - Date.parse(start_date)) / 86400000);
}	

var end = document.getElementById("leave_hist_endDate")

	end.addEventListener('change', (event) => {
  	 total_days()
	});
</script>